<div class="author">
    <div class="gallery">
    <img src="assets/images/b1.jpg">  
        <div class="cont"> <a href="assets/images/b1.html">Fault in the stars</a></div>
        </div>
        
   
    <div class="gallery">
    <img src="assets/images/b2.jpg" >  
        <div class="cont">The Notebok</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/b3.jpg" > 
       
        <div class="cont"> Ur dreams </div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/b4.jpg" >  
        <div class="cont">Canlove happen twice</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/b5.jpg" >  
        <div class="cont">Dreams part2</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/b6.jpg" >  
        <div class="cont">The proposal</div>
    </div>
    
    
    <div class="gallery">
    <img src="assets/images/b7.jpg" >  
        <div class="cont">Wedding date</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/b8.jpg" >  
        <div class="cont">Halfbaked love</div>
    </div>
    
    
    
    
    
    
    </div>
    
    
   
    <footer>
     <p>Good books dont give up all their secrets at once<br></p>
     <button class="botton1" align-items="left" >Previous</button>
     <button class="botton2" align-items="right" >Next Page»</button>
   </footer>