<div class="author">
    <div class="gallery">
    <img src="assets/images/c3.jpg"> 
    <div class="cont">Sleep3</div> 
        
        </div>
        
   
    <div class="gallery">
    <img src="assets/images/c3.jpg" >  
        <div class="cont">Sleep2</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c3.jpg" >  
        <div class="cont">Sleep1</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c4.jpg" >  
        <div class="cont">Women in cabin10</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c1.jpg" >  
        <div class="cont">Couple next door</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c6.jpg" >  
        <div class="cont">Yesterday ghost</div>
    </div>
    
    
    <div class="gallery">
    <img src="assets/images/c7.jpg" >  
        <div class="cont">Wrong family</div>
    </div>
    
    
    <div class="gallery">
    <img src="assets/images/c8.jpg" >  
        <div class="cont">Imaginary friend</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c9.jpg" >  
        <div class="cont">Family upstairs</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/c10.jpg" >  
        <div class="cont">Lovely wife</div>
    </div>
    
    </div>
    
    
   
    <footer>
     <p>Good books dont give up all their secrets at once<br></p>
     <button class="botton1" align-items="left" >Previous</button>
     <button class="botton2" align-items="right" >Next Page»</button>
   </footer>