header{
    background-color:#d8bfd8;
    padding:30px;
    }
    header h1{
    font-size:30px;
    color:#000000;
    margin:1.5 0px;
    }
      
   
   
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top:10px;
  margin-bottom:10px;
  
  }
  
  li {
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  li a:hover {
  background-color: #b3d9ff;
  }
  
  
  