<body style="background-color:#e6f2ff">
  <header> 
          <h1 align-items="center" >_BOOK_BERRIES_ </h1>
          <h2 align-items="center"> Welcome to the blog of book review  </h2>
  </header>
  
  <ul>
    <li><a class="active" href="/home">HOME</a></li>
    <li><a class="active" href="/author">AUTHOR</a></li>
   
    <li><a href="/novel">NOVELS</a></li>
    
    <li><a href="/thriller">THRILLER/CRIME </a></li>
     <li><a href="/login">ADD BOOK</a></li>
    
   
  </ul>
  <router-outlet></router-outlet>
 
  
 
 