<body style="background-color:#e6f2ff">
  
    
    <div class="author">
    <div class="gallery">
    <img src="assets/images/a1.jpg">  
        <div class="cont">Chetan Bhagat</div>
        </div>
        
   
    <div class="gallery">
    <img src="assets/images/a2.jpg" >  
        <div class="cont">Ruskin Bond</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/a3.jpg" > 
       
        <div class="cont"> <a href="assets/images/a1.html">Ajay K Pandey </a> </div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/a4.jpg" >  
        <div class="cont">Anuja Chandramouli</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/a5.jpg" >  
        <div class="cont">Durjoy Datta</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/a6.jpg" >  
        <div class="cont">Noveel Chakraborty</div>
    </div>
    
    
    <div class="gallery">
    <img src="assets/images/a7.jpg" >  
        <div class="cont">JK Rowling</div>
    </div>
    
    
    <div class="gallery">
    <img src="assets/images/a8.jpg" >  
        <div class="cont">Stephen King</div>
    </div>
    
    <div class="gallery">
    <img src="assets/images/a9.jpg" >  
        <div class="cont">Arundhati Roy</div>
    </div>
    
    
    
    </div>
    
    
   
    <footer>
     <p>Good books dont give up all their secrets at once<br></p>
     <button class="botton1" align-items="left" >Previous</button>
     <button class="botton2" align-items="right" >Next Page»</button>
   </footer>
    