<body style="background-color:#e6f2ff">
    
   
  <div class="row">
  <div class="contentleft">
  <div class="card">
        <img src="assets/images/l1.png" alt="book" height="500" width="1100">  
        <p style=" font-size: 18px;
          font-family:Times New Roman;">A book is a medium for recording information in
          the form of writing or images,
        typically composed of many pages bound together and protected by a cover.....</p>
   </div>
  
  
   <div class="card1">
                <h2 style="font-size: 25px; font-family:Arial;">The Japanese secret to a long and happy life</h2>
          <img src="assets/images/book2.jpg" alt="book" height="500" width="1100" > 
        <h3 style="font-family:Arial; font-size: 25px;"><b><span>IKIGAI</span> </b></h3>
        
          <p style=" font-size: 18px;
          font-family:Times New Roman; ">The japansese secret to a longa and happy life Author:Hector Garcia and francesc miralles About the book Such a good book 
          about longevity and happy life. ikigai is a japanese word which means'purpose of life 'and based on how people of okinawa in japan ,which is 
          the blue zone means 'where people live longer life' live. The book tells us about how we can live longer and happy life if we find our ikigai. 
          Book tells us about their food ,how simple food they eat and without going gym and doing intense exercise how they live fit and longer with gardening,
          swimming ,walking etc just doing mild exercises on daily basis. This book teaches us that how a simple life can be happy life. 
          This book teaches us to find out our ikigai and it may take some time but after that it will be worth it and will pay off. . . .</p>
                   <button class="bot" align-items="left" >Read More »</button> </div>
         
         </div> 
  
  
  <div class="abt">
  <img src="assets/images/m1.jpg" alt="book"  height="500" width="300">
       <h2 style="  font-size:25px;font-family:Arial;">Vidhya</h2>
       <p style=" font-size: 18px; font-family:Times New Roman;"> Hey hii!!! welcome to my blog of book reviews.
       Enjoy reading books.Books make you think positive."HAPPY READING"....</p>
       
  </div>  
   <div class="bk">
  <h2 align-items="center">Chetan Bhagat Book</h2>
  <div class="gallery"> 
  <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/p1.jpg" alt="Cinque Terre" align-items="left" width="150" height="180">
    </a>
   
  </div>
  
  <div class="gallery1">
    <a target="_blank" href="p2.jpg">
      <img src="assets/images/p2.jpg" alt="Forest" align-items="right"  width="150" height="180">
    </a>
    
  </div>
  
  <div class="gallery2">
    <a target="_blank" href="p3.jpg">
      <img src="assets/images/p3.jpg" alt="Northern Lights"  width="150" height="180">
    </a>
    
  </div>
  <div class="gallery2">
    <a target="_blank" href="p4.jpg">
      <img src="assets/images/p4.jpg" alt="Northern Lights"  width="150" height="180">
    </a>
    
  </div>
  <button class="bottt" align-items="center-left" >More Book By Chetan Bhagat »</button> 
  
  </div>
  <div class="cardd">
        <h2> My Fav Author</h2>
        <ul>
    <li><a class="active" href="#home">Agatha Christie</a></li>
    <li><a href="#news">Anne Frank</a></li>
    <li><a href="#contact">Novoneel</a></li>
    <li><a href="#about">Ruskin Bond</a></li>
    <li><a href="#about">Ajay K Pandey</a></li>
  </ul>
  <button class="bott" align-items="left" >"Stay Faithful tothe stories in your head"-Paul</button> 
  
  
  </div>
  </div>
  
  <footer>
    <p>Good books dont give up all their secrets at once<br></p>
    
  </footer>
  </body>
  